<footer class="footer"> 
	<div class="footer__top">
		<div class="container">
			<div class="footer__top-inner">
				<div class="footer__info">
					<h6 class="footer__info-title">Contact Us</h6>
					<p class="footer__info-text">Keffiyeh poutine etsy, paleo cray put a bird on it microdosing schlitz you probably occupy</p>
					<a class="footer__info-email" href="mailto:ouremailaddress@email.com">ouremailaddress@email.com</a>
					<form action="./" class="footer__form">
						<input class="footer__form-email" type="email" placeholder="Subscribe by email">
						<input class="footer__form-submit" type="submit" value="Send">
					</form>
				</div>
				<div class="footer__social">
					<a class="footer__social-item footer__social-item_fb" href="./">Facebook</a>
					<a class="footer__social-item footer__social-item_inst" href="./">Instagram</a>
					<a class="footer__social-item footer__social-item_pin" href="./">Pinterest</a>
					<a class="footer__social-item footer__social-item_what" href="./">WhatsApp</a>
					<a class="footer__social-item footer__social-item_yout" href="./">Youtube</a>
				</div>
				<div class="footer__menu">
					<ul class="footer__menu-list">
						<li class="footer__menu-item"><a href="./">Delivery</a></li>
						<li class="footer__menu-item"><a href="./">FAQ</a></li>
						<li class="footer__menu-item"><a href="./">Help</a></li>
						<li class="footer__menu-item"><a href="./">More About Us</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="footer__bottom">
		<div class="footer__copy">674 Gonzales Drive. Washington, PA 15301 &copy;</div>
	</div>
</footer> 
<script type="text/javascript" charset="utf-8" src="jquery.min.js"></script>
<script src="common.js"></script> 
</body> 
</html> 
