<aside class="main__aside sidebar">
	<form class="sidebar__search" action="./">
		<input class="sidebar__search-input" type="text" placeholder="Search">
		<input class="sidebar__search-button" type="submit" value="">
	</form>
	<div class="sidebar__categories">
		<h3 class="sidebar__title">Categories</h3>
		<a class="sidebar__categories-item" href="./">Dining room <span>(1)</span></a>
		<a class="sidebar__categories-item" href="./">Office furniture <span>(12)</span></a>
		<a class="sidebar__categories-item" href="./">Simple interiror design <span>(2)</span></a>
		<a class="sidebar__categories-item" href="./">Design <span>(4)</span></a>
		<a class="sidebar__categories-item" href="./">Bedroom Furniture <span>(1)</span></a>
	</div>
	<div class="sidebar__recents">
		<h2 class="sidebar__title">Recent Posts</h2>
		<div class="sidebar__recent">
			<div class="sidebar__recent-text">Cred selfies edison bulb four dollar toast humblebrag</div>
			<div class="sidebar__recent-info">
				<span>August 10, 2020</span>
				<span>by Ann Summers</span>
			</div>
		</div>
		<div class="sidebar__recent">
			<div class="sidebar__recent-text">Semiotics fixie four dollar toast, next level woke scenester direct trade photo booth</div>
			<div class="sidebar__recent-info">
				<span>September 30, 2020</span>
				<span>by Ann Summers</span>
			</div>
		</div>
		<div class="sidebar__recent">
			<div class="sidebar__recent-text">Cred selfies edison bulb four dollar toast humblebrag</div>
			<div class="sidebar__recent-info">
				<span>May 2, 2020</span>
				<span>by Ann Summers</span>
			</div>
		</div>
	</div>
	<div class="sidebar__tags tags">
		<h2 class="sidebar__title">Tags</h2>
		<a class="tags__item" href="./">Dining room futniture</a>
		<a class="tags__item" href="./">Chair</a>
		<a class="tags__item" href="./">Table</a>
		<a class="tags__item" href="./">Bedroom</a>
		<a class="tags__item" href="./">Office Furniture</a>
	</div>
	<div class="sidebar__socials socials">
		<a class="socials__item socials__item_fb" href="./"></a>
		<a class="socials__item socials__item_inst" href="./"></a>
		<a class="socials__item socials__item_pin" href="./"></a>
		<a class="socials__item socials__item_wapp" href="./"></a>
		<a class="socials__item socials__item_tw" href="./"></a>
	</div>
</aside>