.gallery {
	$self: &;
	margin-bottom: 80px;

	&__inner {
		box-sizing: border-box;
		max-width: 1920px;
		padding: 0 15px;
		margin: 0 auto;
	}

	&__buttons {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin-bottom: 20px;
	}

	&__button {
		margin: 0 12px 20px;
		background: none;
		border: 1px solid #8d8d8d;
		border-radius: 100px;
		padding: 10px 16px;
		color: #8d8d8d;
		outline: none;
		cursor: pointer;
		
		&.mixitup-control-active {
			background-color: #ffef35;
			border-color: #ffef35;
			color: $black;
		}

		@include media('<=xxs') {
			box-sizing: border-box;
			display: block;
			width: 100%;
		}
	}

	&__items {
		display: grid;
		grid-template: repeat(2, 1fr) / repeat(47, 1fr);
		margin: 0 -15px;
		// grid-template: repeat(2, 1fr) / repeat(2, 20.15%) repeat(2, 1fr);
		// grid-gap: 30px;
		
		@include media('<=md') {
			margin: 0 -10px;
		}
		
		@include media('<=sm') {
			margin: 0 -5px;
		}
		
		@include media('<=xxs') {
			grid-template: 1fr 1fr auto / repeat(2, 1fr );
		}

		&_bedroom {

		}

		&_living {
			
		}

		&_office {
			
		}

		&_dining {
			
		}

		&_chair {
			
		}
	}

	&__item {
		grid-column: span 13;
		margin: 0 15px 30px;
		
		@include media('<=md') {
			margin: 0 10px 20px;
		}
		
		@include media('<=sm') {
			margin: 0 5px 10px;
		}
		
		@include media('<=xxs') {
			grid-column: auto;
		}

		&:nth-child(10n + 1), &:nth-child(10n + 8) {
			grid-column: span 21;
			grid-row: span 2;
			
			@include media('<=xxs') {
				order: 1;
				grid-column: span 2;
				grid-row: auto;
			}
		}

		img {
			display: block;
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}
}
