.socials {
	$self: &;
	display: flex;

	&_wide {
		#{$self}__item:not(:last-child) {
			margin-right: 50px;
		}
	}

	&__item {
		background: url('') center / 16px 16px no-repeat transparent;
		width: 18px;
		height: 16px;
		
		&_fb {
			background-image: url('#{$images-path}icons-sprite.svg#icon-soc-fb-view-grey');
		}
		
		&_inst {
			background-image: url('#{$images-path}icons-sprite.svg#icon-soc-inst-view-grey');
			background-size: 14px 15px;		
		}
		
		&_pin {
			background-image: url('#{$images-path}icons-sprite.svg#icon-soc-pin-view-grey');			
		}
		
		&_wapp {
			background-image: url('#{$images-path}icons-sprite.svg#icon-soc-whats-view-grey');			
			background-size: 14px 14px;		
		}
		
		&_tw {
			background-image: url('#{$images-path}icons-sprite.svg#icon-soc-tw-view-grey');			
			background-size: 16px 14px;		
		}

		&:not(:last-child) {
			margin-right: 20px;
		}
	}
}
