.collection {
	$self: &;
	margin-bottom: 100px;

	&__container {
		box-sizing: border-box;
		max-width: 1920px;
		padding: 0 15px;
		margin: 0 auto;
	}

	&__title {
		font-size: 36px;
		font-family: "MB", sans-serif;
		line-height: 1.2;
		text-align: center;
		color: $black;
		margin-bottom: 25px;

		&::after {
			content: '';
			display: block;
			height: 0;
			border-bottom: 1px solid #979797;
			width: 200px;
			margin: 0 auto;
			padding-top: 30px;
		}
	}
	
	&__info {
		max-width: 730px;
		text-align: center;
		margin: 0 auto;
		line-height: 1.8;
		margin-bottom: 50px;
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		grid-gap: 30px;
	}

	&__item {
		position: relative;

		img {
			display: block;
			width: 100%;
			height: 350px;
			object-fit: cover;
		}
	}

	&__item-cover {
		display: block;
		box-sizing: border-box;
		text-align: center;
		text-decoration: none;
		color: inherit;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		padding: 0 20px;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		align-content: center;
		background-color: rgba(255, 255, 255, 0);
		transition: background-color 0.3s ease;
		
		&:hover {
			background-color: rgba(255, 255, 255, 0.6);

			#{$self}__item-title {
				opacity: 1;
			}

			#{$self}__item-info {
				opacity: 1;
			}
		}
	}

	&__item-title {
		font-family: "MB", sans-serif;
		font-size: 20px;
		color: $black;
		margin-bottom: 20px;
		opacity: 0;
		transition: opacity 0.3s ease;

		&::after {
			content: '';
			display: block;
			height: 0;
			border-bottom: 1px solid #979797;
			max-width: 200px;
			margin: 0 auto;
			padding-top: 20px;
		}
	}
	
	&__item-info {
		font-size: 14px;
		opacity: 0;
		transition: opacity 0.3s ease;
	}
}
